<!-- base.html -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% comment %} Website Title {% endcomment %}
    <title>{% block title %}Trees Everywhere🌲{% endblock %}</title>
    {% comment %} Using the Bulma css package for quick iteration {% endcomment %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css" />
    {% comment %} Extra Head data {% endcomment %} {% block extra_head %}{% endblock %}
  </head>
  <body>
    {% comment %} Child content {% endcomment %} {% block content %} {% endblock %} {% comment %}
    For any needed extras scripts {% endcomment %} {% block extra_scripts %}{% endblock %}
  </body>
</html>
